<%= render 'layouts/navbar' %>
<div class="container">
  <div class="wrapper">
    <!--見出し-->
    <div class="contents">
      <h2>with exoとは</h2>
      <p>with exoは、エキゾチックアニマルを飼育する人達のつながりを作ることを目的としたSNSです。<br>
      エキゾチックアニマルは、犬、猫や牛、豚、鶏などの経済動物以外の動物を総称した呼び方です。</p>
    </div>
    <!--当アプリの紹介文-->
    <div class="introduction">
      <div class="about_image">
        <img class="main_image" src="/about/about1.png" alt="ヤモリの画像">
        <img class="sub_image" src="/about/about2.png" alt="フクロモモンガの画像">
      </div>
      <div class="introduction_sentence">
        <h2>つながりを作ろう</h2>
        <p>ペットとの日常や悩みなど、投稿する内容は自由です。多くの飼育者さんに伝えてみましょう。</p>
        <p>気になる投稿があれば、積極的にお気に入り、コメントして、コミュニケーションを取りましょう。</p>
        <p>エキゾチックアニマル飼育者ならではの悩みや生活があります。with exoでは、そういった事に対して相談ができて、理解し合える仲間がつくれます。また、本サービスは無料でご利用いただけます。</p>
      </div>
    </div>
    <!--自己紹介-->
    <div class="manager_introduction">
      <h2>本サイト管理者紹介</h2>
      <div class="my_introduction_sentence">
        <table>
          <tr>
            <th>名前</th>
            <td>馬場 友成</td>
          </tr>
          <tr>
            <th>年齢</th>
            <td>25歳</td>
          </tr>
          <tr>
            <th>飼育するペット</th>
            <td>コーンスネーク、レオパ、クランウェルツノガエル、ベルツノガエル、フトアゴヒゲトカゲ、オスカー、ポリプテルス、ファンシーラット</td>
          </tr>
          <tr>
            <th>with exoを作ったきっかけ</th>
            <td>私は多くのペットを飼育しておりますが、ペットならではの悩みが多くあります。<br>
            そんな悩みを気軽に相談できて、解決できる環境があればと思い、このアプリを作成しました。<br>
            また、ペットは長い時間を共にする家族です。飼い主さんが将来のパートナーを見つける際には、ご自身のペットに理解のある方でなければいけません。<br>
            みなさんが、with exoで色々なつながりが築けることを本サイト管理者は目指しています。</td>
          </tr>
        </table>
        <image class="my_image" src="/about/about2.png">
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>