<div class="wrap-video">
  
  <!--wrap-video上の見出しと新規登録ボタン-->
  <div class="text">
    <%= link_to 'with exo に参加する', signup_path, class: 'sign-up' %>
    <div class="about">
     <%= link_to 'with exoとは', about_path, class: 'about-btn' %>
    </div>
  </div>
  
  <!--video-->
  <video src="/top/animal_movie.mp4" poster="/top/lizard.png" autoplay muted loop></video>
  <img src="/top/lizard.png" alt="トカゲの画像">
</div>

<!--投稿一覧-->
<div class="all-post">
  <h1>みんなの投稿</h1>
  <%= render '/posts/posts', posts: @posts %> 
</div>


