/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  min-width: 720px;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .4em;
}

 h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
 }

 a {
  text-decoration: none;
  color: #333;
}

/*header*/
 header {
   z-index: 4;
   width: 100%;
   height: 88px;
   position: fixed;
   background-color: rgba(0, 0, 0, .8);
 }
 
/*header-top*/
.header-top-wrapper {
  display: flex;
  width: 100%;
  height: 88px;
  align-items: center;
  justify-content: space-between;
}

/*ヘッダーロゴのレイアウト*/
.logo img {
  width: auto;
  margin-left: 10px;
  height: 68px;
}

/*ログイン後に表示されるヘッダーメニュー*/
.global-nav-top {
  display: flex;
  height: 100px;
  align-items: center;
}

.global-nav-top ul {
  list-style: none;
  margin: 0;
}

.global-nav-top ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 10px;
}

.global-nav-top ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

/*nav-topメニューをマウスオーバーした際の下線*/
.global-nav-top ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.global-nav-top ul li a:hover::after {
  transform: scale(1, 1);
}

/*投稿作成ボタン*/
.top-post {
  border-radius: 3px;
  margin-right: 20px;
}

.top-post a {
  display: block;
  margin-left: 20px;
  color: #000000;
  background-color: #f5f5f5;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all .2s ease;
}

/*widthが1200px以下の時に表示するヘッダーメニューを非表示*/
.header-modal-wrapper {
  display: none;
}

/*モーダルメニューを非表示*/
.nav-modal-wrapper {
  display: none;
}

/*header-bottom*/
.header-bottom-wrapper {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

/*ログイン前に表示されるログインおよび新規登録ボタン*/
.header-login-btn {
  width: 20%;
  text-align: right;
  padding-right: 50px;
}

.header-btn {
  display: inline-block;
  border-radius: 90px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
}

/*ログイン後に表示されるヘッダーメニュー*/
.global-navi-bottom {
  display: flex;
  height: 100px;
  align-items: center;
}

.global-navi-bottom ul {
  list-style: none;
  margin: 0;
}

.global-navi-bottom ul li {
  display: inline-block;
  border-right: 1px solid #000000;
  margin-right: 10px;
  padding-right: 10px;
}

.global-navi-bottom ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.global-navi-bottom ul li a {
  color: #333;
}

/*navメニューをマウスオーバーした際の下線*/
.global-navi-bottom ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.global-navi-bottom ul li a:hover::after {
  transform: scale(1, 1);
}


/*投稿作成ボタン*/
.bottom-post {
  border-radius: 3px;
  margin-right: 20px;
}

.bottom-post a {
  display: block;
  padding: 5px;
  border-radius: 10px;
  transition: all .2s ease;
}

.bottom-post a:hover {
  color: #f5f5f5;
  background-color: #696969;
  transition: all .2s ease;
}

.far span {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*フラッシュメッセージ*/
.flash {
  padding: 10px 0;
  color: #000000;
  background: rgba(242, 242, 242, .8);
  text-align: center;
  position: absolute;
  top: 88px;
  min-width: 720px;
  z-index: 3;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/*footerメニュー*/
 footer {
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
}

 footer .footer-navi {
   padding: 30px 0;
 }

 footer .footer-navi img {
   width:180px;
   height: 40px;
   padding: 0;
   margin-bottom: 20px;
 }

 footer ul {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
}

 footer ul li {
  display: inline-block;
  border-right: 1px solid #000000;
  margin-right: 10px;
  padding-right: 10px;
}

 footer ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

 footer ul li a {
  color: #333;
}

/*footerメニューをマウスオーバーした際の下線*/
 footer ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

 footer ul li a:hover::after {
  transform: scale(1, 1);
}

footer small {
    display: block;
    padding: 8px 0;
    background-color: #000000;
    color: #ffffff;
}

/*header レスポンシブデザイン*/
@media(max-width:1200px){
  
  /*ヘッダーのロゴサイズ*/
  .logo {
    width: 25%;
  }
  
  .header-login-btn{
    width: 35%;
  }
  
  /*ヘッダーメニューの変更*/
  .global-nav-top {
    display: none;
  }
  
  .header-modal-wrapper {
    display: block;
    display: flex;
    width: 40%;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-modal-wrapper .humberger-menu {
    margin-right: 20px;
    color: #ffffff;
    z-index: 3;
    font-size: 50px;
    cursor: pointer;
  }
  
  .header-modal-wrapper .top-post {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .header-modal-wrapper .top-post span {
    font-size: 20px;
    padding-top: 2px;
  }
  
  /*ハンバーグメニューをクリック後に表示されるモーダルメニューの全体*/
  .nav-modal-wrapper {
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    margin: 0 auto;
    z-index: 100;
  }
  
  /*表示されたモーダルメニュー*/
  .nav-modal-wrapper .modal {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, .9);
    width: 30%;
    text-align: center;
  }
  
  /*モーダルメニューを非表示にするためのクローズボタン*/
  .nav-modal-wrapper .modal #modal-close-btn {
    margin-top: 27px;
    text-align: right;
    margin-right: 20px;
    color: #a9a9a9;
    font-weight: 200;
    border-radius: 50%;
  }
  
  .nav-modal-wrapper .modal #modal-close-btn i {
    cursor: pointer;
  }
  
  #global-nav-menu ul {
    list-style: none;
    padding: 0;
  }
  
  #global-nav-menu ul li {
    padding: 5px 0;
  }
  
  #global-nav-menu ul li a{
    display: block;
    padding: 10px;
    color: #000000;
    font-size: 30px;
    transition: all .2s;
  }
  
  #global-nav-menu ul li a:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
  }

  .wrap-video #slick img {
    display: block;
    position: relative;
    width: 100%;
    z-index: -100;
  }
  
}

@media(max-width:670px){
  /*ヘッダーのロゴサイズ*/
  .logo {
    width: 40%;
  }
  
  .header-login-btn {
    width: 54%;
  }
  
}

/*共通部分*/
.container {
  height: auto;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 890px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  width: 50%;
  font-size: 16px;
}

.form .form-control {
  height: 30px;
  width: 100%;
}

.pagination {
  text-align: center;
}

.resarch {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.resarch .resarch-form {
  width: 30%;
  background: #ffffff;
  border: 1px solid #B3B3B3;
  height: 33px;
}

.resarch .resarch-btn {
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  outline : none;
  width: 3.0em;
  height: 37px;
}

.error-message ul {
  padding: 0;
  padding: 10px 20px;
  display: inline-block;
  text-align: left;
  border: 1px solid #ff0000;
  color: #ff0000;
}


