// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #A8D3FF;
  -webkit-appearance: none;
}

.unlike-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #FCA8A8;
  -webkit-appearance: none;
}