// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ログインページ*/
.login {
  padding-top: 138px;
  text-align: center;
}

.form-login-btn {
  margin: 50px 0;
  padding: 5px 10px;
  background-color: #0B70F8;
  color: #ffffff;
  -webkit-appearance: none;
}

.signup-link {
  color: #0000ff;
  transition: all .2s ease;
}

.signup-link:hover {
  color: #87cefa;
}

.form-indication {
  padding: 0;
  margin-bottom: 50px;
}