// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ログインページ*/
.login {
  padding-top: 150px;
  margin-bottom: 30px;
  text-align: center;
}

.form-login-btn {
  margin: 150px;
  padding: 10px;
}

.signup-link {
  color: #0000ff;
  transition: all .2s ease;
}

.signup-link:hover {
  color: #87cefa;
}