// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  margin: 0;
}

/*ヘッダー下のslick画像*/
.wrap-video{
  position: relative;
  margin: 0 auto;
  align-items: center;
}

#slick {
  margin: 0;
  padding: 0;
  padding-top: 138px;
  padding-bottom: 50px;
  text-align: center;
  background-image: url(/top/background_img.jpg);
  background-repeat: no-repeat;
}
 
#slick li img {
  margin: 0 auto;
  width: 60%;
  height: 660px;
  border: solid 10px #f0f0f0;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
}

/*slick画像上にある新規登録ページとサイト紹介ページへのリンク*/
.text {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  text-align: center;
}

.text .sign-up {
  border-radius: 4px;
  padding: 14px 20px;
  background-color: rgba(0, 25, 82, 0.9);
  color: #ffffff;
  margin-bottom: 10px;
  transition: all .3s ease;
}

.text .sign-up:hover {
  background-color: #000000;
  color: #ffffff;
}

.text .about .about-btn {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: rgba(224, 224, 224, 0.9);
  color: #000000;
  margin-top: 30px;
}

/*投稿一覧*/
.all-post {
  min-height: 640px;
}
.all-post h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

/*ここからaboutページ*/
.wrapper {
  width: 100%;
}
/*見出し*/
.contents {
  padding: 400px 0;
  width: 100%;
  text-align: center;
  background-image: url(/about/background_img1.png);
}

.contents h2 {
  margin-bottom: 50px;
}

.contents p {
  display:inline-block;
  text-align: left;
}

/*当アプリの紹介文*/
.introduction {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  background-image: url(/about/background_img2.png);
}

.about_image {
  width: 50%;
  position: relative;
}

.main_image {
  width: 55%;
}

.sub_image {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 35%;
}

.introduction_sentence {
  width: 50%;
}

.introduction_sentence p {
  text-align: left;
  display: inline-block;
}

/*自己紹介*/
.manager_introduction {
  width: 100%;
  padding: 400px 0;
  padding-bottom: 100px;
  background-image: url(/about/background_img3.png);
}

.manager_introduction h2 {
  text-align: center;
  margin-bottom: 150px;
}

.my_introduction_sentence {
  display: flex;
}

.my_introduction_sentence table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.my_introduction_sentence table th {
  text-align: left;
  vertical-align: top;
}

.my_introduction_sentence table td {
  text-align: left;
  vertical-align: top;
}

.my_introduction_sentence .my_image {
  width: 40%;
  border-radius: 50%;
}

/*aboutページのレスポンシブデザイン*/
@media(max-width:1200px){
  
  .my_introduction_sentence {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .my_introduction_sentence table {
    width: 100%;
  }
  
  .my_introduction_sentence image {
    width: 100%;
  }
}