// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*新規登録ページ*/
.signup  {
  padding-top: 150px;
  margin-bottom: 30px;
  text-align: center;
}

.signup-btn {
  margin: 150px;
  padding: 10px;
}

/*ユーザー編集ページ*/
.edit {
  padding-top: 150px;
  margin-bottom: 30px;
  text-align: center;
}

.edit-btn {
  margin-top: 150px;
  padding: 10px;
}

.introduce-form-control {
  height: 80px;
}
/*ユーザー詳細ページ*/
.user-container {
  padding-top: 100px;
}

/*ユーザートップ部分*/
.user-container .user-top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
  background-color: #f0f8ff;
  text-align: center;
}

.user-top img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-top .user-name {
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.user-top .user-introduction {
  display: inline-block;
  width: 60%;
  padding: 10px 20px;
  margin-bottom: 100px;
  text-align: left;
  background-color:  #ffffff;
}

/*ユーザー情報編集ページへのリンクボタン*/
.user-top .edit-link {
  position: absolute;
  top: 55px;
  right: 20px;
  
}

.edit-link .edit-link-btn {
  display: block;
  padding: 10px;
  background-color: #0070F8;
  color: #ffffff;
  border-radius: 90px;
}

/*ユーザー退会ボタン*/
.delete-link {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.delete-link .delete-link-btn {
  display: block;
  padding: 10px 10px;
  text-decoration: underline;
  color: #797979;
  transition: all .2s ease;
}

.delete-link .delete-link-btn:hover {
  background-color: #eeeeee;
}

/*ユーザーボトム部分*/
/*ユーザーが投稿した投稿一覧を表示*/
.user-bottom {
  text-align: center;
  width: 100%;
  min-height: 565px;
  margin: 50px 0;
}

.user-bottom .nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-bottom .nav-tabs .nav-item {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid #000000;
}

.user-bottom .nav-tabs .nav-item a {
  display: block;
  padding: 10px 0;
}

.user-bottom .nav-tabs .nav-item a:hover {
  background-color: #f2f2f2;
}
/*現在表示しているタブ*/
.active {
  color: #0000ff;
}

/*ユーザー一覧ページ*/
.user-index-heading {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px #000000;
}

.user-index-heading h2 {
  display: inline-block;
  text-align: left;
  padding-top: 150px;
}

.user-index {
  padding: 0;
  margin-top: 50px;
  min-height: 820px;
}

.user-index .user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  padding: 10px 20px;
  border: solid 1px #f2f2f2;
  background-color: #f0f8ff;
}

.user-index .user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.user-index .user .user-right {
  margin-right: 20px;
  width: 100%;
}

.user-index .user .user-right .user-name {
  
  height: 35px;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
}

.user-index .user .user-right .user-introduce {
  overflow: hidden;
  height: 50px;
  background-color: #ffffff;
  padding: 5px 10px;
}




