<footer>
  <div class="footer-navi">
    <a href="#"><img src="/footer/footer-logo.png" alt="ロゴ画像"></a>
    <ul>
      <li>
        <%= link_to '利用規約', '/terms' %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', '/policy' %>
      </li>
      <li>
        <%= link_to 'お問い合わせ', '/contact' %>
      </li>
    </ul>
  </div>
  <small>&copy; 2021 with exo.</small>
</footer>