<footer>
  <div class="footer-navi">
    <a href="#"><img src="/footer/footer-logo.png" alt="ロゴ画像"></a>
    <ul>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <%= link_to 'お問い合わせ', '/contact' %>
    </ul>
  </div>
  <small>&copy; 2021 with exo.</small>
</footer>