<footer id="footer">
  <div class="footer-navi">
    <%= link_to image_tag('/footer/footer-logo.png', { :alt => 'ロゴ画像'}), root_path %>
    <ul>
      <li>
        <%= link_to '利用規約', '/terms' %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', '/policy' %>
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6ADCyROT0dCZD45O_HdAxWl_S6mIKkowpJZVJqjwYhUZ-oQ/viewform">お問い合わせ</a>
      </li>
    </ul>
  </div>
  <small>&copy; 2021 with exo.</small>
</footer>