<header>
  
 <!--wrap-video上のヘッダー-->
 <nav class="header-top-wrapper">
   <div class="logo">
     <h1>
       <a href="#"><img src="/header/header-logo-top.png" alt="ロゴ画像"></a>
     </h1>
   </div>
   
  <!--ログインしている場合のヘッダーメニュー-->
  <div class="global-nav-top">
    <ul>
      <li><a href="#">マイページ</a></li>
      <li><a href="#">ユーザー</a></li>
      <li><a href="#">投稿一覧</a></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
    
    <!--投稿作成ボタン-->
    <div class="top-post">
      <a href="#">
        <i class="far fa-edit fa-lg"><span>投稿</span></i>
      </a>
    </div>
  </div>
  
  <!--1200px以下の際に表示するヘッダーメニュー-->
  <div class="header-modal-wrapper">
    
    <!--ハンバーガーメニュー-->
    <div class="humberger-menu">
      <i class="fas fa-bars"></i>
    </div>
    
    <!--投稿ボタン-->
    <div class="top-post">
      <a href="#">
        <i class="far fa-edit fa-lg"><span>投稿</span></i>
      </a>
    </div>
  </div>
  
  <!--gobal-navのモーダル-->
  <div class="nav-modal-wrapper">
    <div class="modal">
      
      <!--モーダルcloseボタン-->
      <div id="modal-close-btn">
        <i class="fas fa-times fa-3x"></i>
      </div>
      <!--モーダルメニュー-->
      <div id="global-nav-menu">
        <ul>
          <li><a href="#">my page</a></li>
          <li><a href="#">users</a></li>
          <li><a href="#">posts</a></li>
          <li><a href="#">logout</a></li>
        </ul>
      </div>
    </div><!--ここまでmodal-->
  </div><!--ここまでnav-modal-wrapper-->
 </nav>
   
<!--wrap-videoの下のヘッダー-->
<!--
  <nav class="header-bottom-wrapper">
    <div class="logo">
      <h1>
        <a href="#"><img src="/header/header-logo-bottom.png" alt="ロゴ画像"></a>
      </h1>
    </div>-->

<!--ログインしていない場合-->
<!--
    <div class="login-btn">
      <button type="button" class="btn btn-outline-primary">ログイン</button>
      <button type="button" class="btn btn-outline-primary">新規登録</button>
    </div>-->
    
<!--ログインしている場合-->
<!--
    <div class="global-navi-bottom">
      <ul>
        <li><a href="#">マイページ</a></li>
        <li><a href="#">ユーザー</a></li>
        <li><a href="#">投稿一覧</a></li>
        <li><a href="#">ログアウト</a></li>
      </ul>
      <div class="bottom-post">
        <a href="#">
          <i class="far fa-edit fa-lg"><span>投稿</span></i>
        </a>
      </div>
    </div>
  </nav>-->
</header>
