<header>
<!--wrap-video上のヘッダー-->
 <nav class="header-top-wrapper">
   <div class="logo">
     <h1>
       <a href="#"><img src="/header/header-logo-top.png" alt="ロゴ画像"></a>
     </h1>
   </div>
   
<!--ログインしている場合-->
  <div class="global-navi-top">
    <ul>
      <li><a href="#">マイページ</a></li>
      <li><a href="#">ユーザー</a></li>
      <li><a href="#">投稿一覧</a></li>
      <li><a href="#">ログアウト</a></li>
    </ul>
    <div class="top-post">
      <a href="#">
        <i class="far fa-edit fa-lg"><span>投稿</span></i>
      </a>
    </div>
  </div>
 </nav>
   
<!--wrap-videoの下のヘッダー-->
<!--
  <nav class="header-bottom-wrapper">
    <div class="logo">
      <h1>
        <a href="#"><img src="/header-logo-bottom.png" alt="ロゴ画像"></a>
      </h1>
    </div>-->

<!--ログインしていない場合-->
<!--
    <div class="login-btn">
      <button type="button" class="btn btn-outline-primary">ログイン</button>
      <button type="button" class="btn btn-outline-primary">新規登録</button>
    </div>-->
    
<!--ログインしている場合-->
<!--
    <div class="global-navi-bottom">
      <ul>
        <li><a href="#">マイページ</a></li>
        <li><a href="#">ユーザー</a></li>
        <li><a href="#">投稿一覧</a></li>
        <li><a href="#">ログアウト</a></li>
      </ul>
      <div class="bottom-post">
        <a href="#">
          <i class="far fa-edit fa-lg"><span>投稿</span></i>
        </a>
      </div>
    </div>
  </nav>-->
</header>
